h1 {
 color: white ;
}

p {
 color: white ;
}

h3 {
 color: white ;
}

button {
 background-color: green ;
}

img {
 width: 120px ;
 height: 80px ;
}
 
h5 {
 color: white ;
}

button {
 background-color: green ;
}

body {
 background-color: black ;
}

button {
 width: 70px ;
 height: 40px;
}

h4 {
 color: white ;
}




  

